


html {
    position: relative;
    width: 100%;
    height: 100%;
}

.add-book-form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.show {
    visibility: visible;
}

form {
    background: white;
    padding: 15px;
}